{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Pocket</h2>
<div>
    <a href="https://getpocket.com/">Pocket</a> is a service that lets you save content from anywhere on the web for later. If you are already a Pocket user Resurface can send you reminders to revisit content that you have enjoyed previously. To grant access click <a href={{pocket_url}}>here</a>.
</div>
<h2>YouTube Liked Videos</h2>
<div>
    To grant access click <a href={{youtube_url}}>here</a>.
</div>
<h2>Manual Import</h2>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}
