{% extends "base.html" %}

{% block app_content %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
    <h1 class="intro-header">
        Resurface is a spaced repetition service for your favourite content 
    </h1>
        <p class="lead">With so much amazing content on the web it can be hard to remember to revisit your favourite articles, videos, or tweets. Resurface gathers all of your favourite content from the web in one place and sends your regular reminders with samples of your favourites so you can rediscover the best of the web.</p>
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <p class="lead">Add links to your favourite web content (e.g., articles, videos, podcasts, tweetstorms) or import them from other services like Pocket, YouTube, Twitter, and Readwise</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/Heart.png') }}">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p class="lead">Choose how often you want to be reminded and what types of content to prioritize</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/Bell.png') }}">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <p class="lead">Receive reminders with links to review your favourite content at your chosen frequency</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/Mailbox.png') }}">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
{% endblock %}