{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h3>Current Reminders</h3>
    <div>
    {% if reminders|length == 0 %}
        No reminders currently setup. Try setting up a reminder below!
    {% else %}
        <ul>
            {% for reminder in reminders %}
                <li>{{ reminder.reminder_items }} items on {{ reminder.reminder_day.capitalize() }} at {{ reminder.reminder_time.strftime("%H:%M") }} (<a href="{{ url_for('delete_reminder', id=reminder.id) }}">Delete</a>)</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <h3>Add Reminder</h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
